:root{
    --main-black:#000500;
    --main-purple:#473BF0;
    --main-grey:#15151a;
    --second-grey:#ACADBC;
    --second-purple:#6665DD;
    --main-white:#fff;
}
body{
    font-family: 'Lato' !important;
}
.second-grey{
    background-color: var(--second-grey) !important;
}
.main-grey{
    background-color: var(--main-grey) !important;
}
.main-purple{
    background-color: var(--main-purple) !important;
}
.main-black{
    background-color: var(--main-black) !important;
}
.second-purple{
    background-color: var(--second-purple) !important;
}
.main-white{
    background-color: var(--main-white) !important;
}
.navbar-nav{
    font-size:24px !important;
}
.nav-item{
    border-left: 3px solid var(--main-purple);
    transform:skewX(-30deg);
    padding: 0 1.3rem 0 0.7rem;
}
.nav-link{
    transform:skewX(30deg);
    padding: 0 1.3rem 0 0.5rem;
}
.mobile-bg{
    background: #000500 !important;
}
.carousel-item{
    height:90vh;
    background-position: center;
}
.carousel{
    width:100%;
}
.fade-right{
    opacity: 0;
}
.description-box{
    text-align: center;
    margin-top: -10%;
    z-index: 100;
    -webkit-box-shadow: 0px -30px 44px -2px rgba(0,0,0,0.4); 
    box-shadow: 0px -30px 44px -2px rgba(0,0,0,0.4);
}
.margin{
    margin: 12vh 0 !important;
}
main{
    position: relative;
}
*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.border-toggle{
    padding:1.5vh 0.8vw;
    height:5vh;
    display:flex;
    align-items: center;
    border-radius:10px;
    border:2px solid var(--second-grey)
}
.overflow-hidden{
    overflow:hidden!important;
}
.project{
    height:90vh;
}
.project *{
    background-position: center;
    height:100%;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    animation-duration: 500ms;
    background-size: auto;
    height:90vh;
}
@media (max-width:768px){
    .project div:last-child{
        border-top: 5px solid var(--main-purple);
        height:35vh;
    }
    .project div:last-child span{
        font-size: 7vw;
    }
    .project div:last-child img{
        width:100%;
    }
    .project div:nth-child(2){
        border-left: 5px solid var(--main-purple); 
        height:45vh; 
    }  
    .project div:first-child{
        border-right: 5px solid var(--main-purple);
        height:45vh;
    }
    .project{
        height:80vh;
    }
}
@media (min-width:768px){
    .project div:nth-child(2){
        border-left: 5px solid var(--main-purple);
        border-right: 5px solid var(--main-purple);
    }
}

.blur{
    filter: grayscale(100%) blur(4px);
}
.enlarge{
    transform-origin:center;
    transform: scale(1.1);
}
footer{
    height: 24vh;
}
footer a{
    filter: grayscale(100%);
    transition-duration: 700ms;
}
footer a:hover{
    filter: grayscale(0%);
    text-decoration: none;
}
.progress-bar{
    animation-fill-mode: li;
}
.break:before{
    content: "\A";
    white-space:pre-wrap;
}
.break{
    width: 70%;
    overflow-wrap: break-word;
}
.project span{
    position:absolute; 
    z-index: 1000;
    top:5%;
    color:white;
    font-size:4vw;
    left:50%;
    width:fit-content;
    transform: translateX(-50%);
    opacity: 0;
    transition-duration: 500ms;
}
.fillOpacity{
    top:10% !important;
    opacity: 1 !important;
}
input:focus,
textarea:focus,
textarea:hover{
    outline: none;
}
.wrapper{
  width: 450px;
  background: #fff;
  padding: 30px;
  background:transparent;
  height: 10vh;
}
.wrapper .input-data{
  height: 30px;
  width: 100%;
  position: relative;
  background:transparent;
}
.wrapper .input-data input,textarea{
  background:transparent;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgb(114, 114, 114);
  color:white;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
  color: white;
}
.wrapper .input-data label{
  position: absolute;
  bottom: 0px;
  left: 0;
  color: rgb(114, 114, 114);
  pointer-events: none;
  transition: all 0.3s ease;
}
.underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}
.underline:before{
  position: absolute;
  height: 2px;
  content: "";
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease;
}
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before,
  textarea:focus ~ .underline:before,
  .valid:before{
  transform: scaleX(1);
}
.textarea textarea{
  display: block;
  min-height: 10vh;
  max-height: 25vh;
  height:20vh;
}
.textarea label{
  top:0;
  position: absolute;
  color: rgb(114, 114, 114);
  transition: all 0.3s ease;
}
textarea:focus ~ label{
  color: white;
}
.short_underline{
    background: linear-gradient(263deg, rgba(2,0,36,1) 0%, rgba(227,0,0,1) 0%, rgba(255,87,0,1) 100%);
    position:absolute;
    height: 2px;
}
.links div{
    display:flex;
    align-items: center;
    overflow-wrap: break-word;
}
.links div span{
    height:100%;
    overflow-wrap: break-word;
    width: 80%;
}
.links a,
.links a:hover{
    color:black;
    text-decoration: none;
}
svg #darkGroup path{
    fill: #1404f0;
}
svg #lightGroup path{
    fill:#555fee;
}
#dark2,
#dark1,
#light1{
    transition: all 1s ease;
}
#dark2{
    transform: translate(-100%);
    opacity: 0;
}
svg:hover #dark2{
    transform: translate(10%);
    opacity:0.8;
}
svg:hover #light1{
    transform: translate(20%);
}
svg:hover #dark1{
    transform: translate(50%);
    opacity: 0;
}
#back{
    transform: scaleX(-1);
    position: absolute;
    z-index: auto;
    pointer-events:all;
    top:0;
    left:-2%;
}